@import "../../styles/base";

.note {
  border: 1px tomato dashed;
  cursor: pointer;
  &:hover {
    background-color: gold;
  }

  &.active {
    background-color: $colorActive;
  }
}

.note-card {
  position: fixed;
  width: 280px;
  bottom: 1em;
  right: 1em;
  padding: 1em;
  display: block;
  border-radius: 4px;
  transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19),
    opacity 300ms ease;
  transform: translateY(20px);
  opacity: 0;
  color: white;
  background-color: $colorBackgroundCard;
  box-shadow: 2px 3px 16px silver;

  &.active {
    opacity: 1;
    transform: translateY(0px);
  }

  li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4px;
    margin-bottom: 1em;

    > span {
      font-style: italic;
    }

    p {
      margin: 0;
    }
  }
}
