$colorItem: #48505d;
$colorItemDark: #2c3035;
$colorActive: lightskyblue;
$colorBackgroundCard: white;

$colorSelection: rgba(0, 0, 0, 0.10);
$colorSelectionHover: rgba(0, 0, 0, 0.15);
$colorSelectionActive: #fff3e0;

$colorBtn: #42a5f5;

$colorCommentBg: $colorSelectionActive;